@font-face {
    font-family:hh;
  src: url(../fonts/ElMessiri-Bold.ttf);
}
*{
	margin:0px;
	padding:0px;
	-webkit-box-sizing: border-box;
	box-sizing: borde-box;
}
body{
	 font-family:hh;
	  text-align:right;
	 color:#000;
	 position:relative; 
	 padding:0px;
	min-height:1500px;
}
ul li{
	list-style-type:none;
}
a{
	text-decoration:none;
}
.container-fluid{
	padding:0px;
}
.row{
	margin:0px;
}
#navbar{
	width:100%;
	position:fixed !important;
	right:0;
	height:100%;
	z-index:5555;
}
nav{
	width:100%;
}
.logo{
	width:100%;
	height:100px;
	margin-top:20px;
	margin-bottom:40px;
	text-align:center;
}
.menu{
	width:100%;
	height:300px;
	margin-bottom:40px;
	margin-top:90px;
}
.menu ul li{
	font-size:25px;
}
.menu ul li a{
	color:#231f20;
}
.languge a{
	color:#fff !important;
    width:30px;
	height:28px;
    font-size:18px;
	text-align:center;
	background-color:#17a2b8;
	display:block;
}
.social-list{
	width:100%;
	height:100px;
	margin-top:120px;
	text-align:center;
	padding-left:
}
.social-list a{
	color:#343a40;
	display:inline-block;
	font-size:22px;
	margin:50px auto 10px 10px;
}
.home{
	width:100%;
	height:100%;
	background:url(../images/landing-abnner.jpg)no-repeat;
	background-size:cover;
	position:relative;
}
.back-home{
	height:850px;
	width:100%;
	border-right:1px solid rgba(0,0,0,0.3);
}
.row-home{
	height:850px;
}
.back-face{
	width:inherit;
	height:inherit;
	background:rgba(0,0,0,0.1);
	z-index:11;
	transition:all 1s ease-in-out;
	cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center top;
	backface-visibility:hidden;
}
.sc-back-face{
	width:inherit;
	height:inherit;
	background:rgba(0,0,0,0.1);
	transition:all 1s ease-in-out;
	cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center top;
	position: absolute;
    transform:rotateY(180deg);
	backface-visibility:hidden;
}
.back-home:hover .back-face{
	transform:rotatey(180deg);
}
.title-head{
	position: absolute;
    right: 100px;
	top: 300px;
    width: 400px;
    text-align: right;
    height: 200px;
	direction:rtl;
}
.title-head h5{
	color:#17a2b8;
	font-size:70px;
	width:100%;
	height:100px;
	position:relative;
	cursor: pointer;
}
.titel{
	display:block;
	width:100%;
	height:100px;
}
.scroll-titel{
	display:block;
	width:100%;
	height:80px;
	background:#17a2b8;
	position:absolute;
	direction:rtl;
}
.title-head p{
	color:#343a40;
	font-size:28px;
	cursor: pointer;
}

.about-us{
	height:850px;
	width:100%;
	background:url(../images/banner2.jpg)no-repeat;
	background-size:cover;
}
.about-us-scroll-titel{
	display:block;
	width:100%;
	height:80px;
	background:#17a2b8;
	position:absolute;
	direction:rtl;
}
.sc-about-us{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	direction:rtl;
	color:#fff;
	overflow:hidden;
}
.p-about-us{
	width:60%;
	height:80%;
	position:relative;
	margin-right:150px;
	margin-top:200px;
}
.img-about-us{
	display:inline-block;
	width: 12px;
    height:80px;
	position:absolute;
	top: 80px;
	right:-20px;
	display:none;
}
.p-about-us h5{
	position:relative;
	width:100%;
	height:100px;
}
.about-us-titel{
	display: inline-block;
    font-size: 50px;
	margin-bottom:15px;
}
.p-about-us p{
	display: inline-block;
    font-size:18px;
	margin-bottom:20px;
}
.p-about-us button{
	position:absolute;
    bottom: -10px;
    right: 50px;
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 50px;
	font-size: 18px;
	background:#17a2b8;
	color:#fff;
	display:none;
	cursor:pointer;
}
.p-about-us button i{
	display:inline-block;
	margin-right:10px;
	font-size:20px;
}
.video-about-us{
	width:100%;
	height:100%;
	text-align:left;
	direction:ltr;
}
.right-about-us{
	width:400px;
	height:550px;
	background:#17a2b8;
	border-radius:15px;
	position:relative;
	top:80px;
}
.sc-right{
	width: 600px;
    height: 350px;
    border-radius: 25px;
    background: url(../images/services333.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 80px;
    left: 70px;
	
}
.sc-right button{
	width:100%;
	height:100%;
	text-align:center;
	background:rgba(0,0,0,0.5);
	color:#fff;
	border-radius: 25px;
	border:none;
	cursor:pointer;
}
.sc-right button i{
	font-size:60px;
	display:inline-block;
	
}
.our-servese{
    width:100%;
	height:100%;
	position:relative;
}
.img-titel-serves{
	display:inline-block;
	width: 12px;
    height:80px;
	position:absolute;
	top: 80px;
	display:none;
}
.top-serves{
	position:absolute;
	top:80px;
	right:100px;
	direction:rtl;
	width:100%;
	height:30%;
}
.titel-serves img{
	display:inline-block;
	width: 12px;
    height:80px;
	position:absolute;
	top: 80px;
	display:none;
}
.scroll-titel-s{
	display:block;
	width:40%;
	height:60px;
	background:#17a2b8;
	position:absolute;
	direction:rtl;
}
.titel-serves h5{
	width:100%;
	height:50px;
	margin-right: 40px;
	margin-top:20px;
}
.top-serves-titel{
	color:#17a2b8;
	font-size:40px;
}
.scroll-titel-p{
	display:block;
	width:45%;
	height:60px;
	background:#17a2b8;
	position:absolute;
	direction:rtl;
}
.titel-serves p{
	display: inline-block;
    font-size:18px;
	color:#343a40;
	margin-right: 40px;
}
.bottom-serves{
	position:absolute;
	bottom:0;
	direction:rtl;
	width:100%;
	height:70%;
	margin-top:50px;
	
}
.bottom-serves .carousel {
    position: relative;
    width: 850px;
	height:400px;
    margin: auto;
}
.carousel-indicators li{
	background-color:rgba(0,0,0,0.0);
	color: #231f20 !important;
	width:100%;
	height:50px;
	text-indent: 1px;
    line-height: 40px;
	font-size:23px;
	opacity: 1;
	padding: 5px 15px;
	border:none;
	margin-left:10px
}
.carousel-indicators .active{
	color:#17a2b8!important;
	border-right: 4px solid #3cb4e5;
	
}
.carousel-indicators{
	display:block;
	top:40%;
}
.carousel-inner{
	height:400px;
	position:relative;
	
}
.carousel-item{
	height:100%;
	position:relative;
}
.carousel-item img{
	width:90%;
	height:90%;
	margin-top:20px;
	margin-right:10px;
	border-radius:20px;
}
.bottom-serves-info{
	position:absolute;
	right:0;
	top:0;
	width:280px;
	height:100%;
	z-index:9999999;
	border-radius:20px;
	background-color:rgba(108, 115, 162,0.9);
	color:#fff;
	display:flex;
	justify-content:center;
	flex-direction:column;
	padding-right:10px;
}
.sc-bottom-serves-info{
	background-color:rgba(17, 152, 187,0.9);
}
.th-bottom-serves-info{
	background-color:rgba(91, 193, 167,0.9);
}
.bottom-serves-info h3{
	margin-bottom:15px;
}
.bottom-serves-info p{
	font-size:16px;
}
.bottom-serves-info a{
	color:#fff;
	font-size:20px;
}
.bottom-serves-info a:hover{
	text-decoration:none;
}
.bottom-serves-info a i{
	margin-right:10px;
	
}
/*our-work*/
.our-work{
    width:100%;
	height:100%;
	position:relative;
	background:url(../images/works-bg.jpg)no-repeat;
	background-size:cover;
}
.bottom-work{
	position:absolute;
	bottom: 0px;
	direction:rtl;
	width:100%;
	height:70%;
	text-align:center;
}
.our-work-scroll-titel{
	display:block;
	width:40%;
	height:60px;
	background:#17a2b8;
	position:absolute;
	direction:rtl;
}
.our-work-scroll-titel-p{
	display:block;
	width:45%;
	height:60px;
	background:#17a2b8;
	position:absolute;
	direction:rtl;
}
.container {
   position: relative;
   width: 100%;
}
.img-our-work-scroll{
	display:inline-block;
	width: 12px;
    height:80px;
	position:absolute;
	top: 80px;
	display:none;
}

/* Make the image to responsive */
.image {
  width:250px;
  height:300px;
  
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom:-30px;
  left: 0;
  right:50px;
  background-color:rgba(67,67,69,0.85);
  border-radius:20px;
  overflow: hidden;
  width:80%;
  height:100%;
  transform: scale(0);
  transition: .3s ease;
  text-align:right:
}
/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
}
/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
  font-size:20px;
  position: absolute;
  top:40%;
  left:50%;
  width:80%;
  height:50%;
  transform: translate(-50%, -50%);
  text-align:right;
}
.text h5 a{
	color:#3cb4e5;
}
.text p a{
	color:#fff;
}
.text a:hover{
	text-decoration:none;
}
.sharaka{
	width:100%;
	height:100%;
	position:relative;
	background:url(../images/sharakah-bg.jpg)no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.sharaka-sc{
	position:absolute;
	top: 100px;
    width:100%;
	height:80%;
	direction:rtl;
}
.img-sharaka-info{
	display:inline-block;
	width: 12px;
    height:80px;
	position:absolute;
	top: 80px;
	display:none;
}
.sharaka-info h5{
	width:50%;
	height: 70px;
    margin-right: 20px;
	color:#17a2b8;
	font-size:40px;
	position:relative;
}
.img-sharaka{
	width:50px;
	height:60px;
	margin-left: 5px;
}
.fr-p-sharaka{
	color:#fff;
	display:block;
	width:400px;
    height:95px;
    margin-right: 35px;
    font-size: 35px;
    position:relative;
}
.titel-sharaka{
	width:100%;
	height:100%;
	position:absolute;
	background-color:#17a2b8;
}
.sc-p-sharaka{
	color:#fff;
	display:inline-block;
	width: 400px;
    height:95px;
    margin-right:35px;
	font-size:18px;
	margin-top:30px;
	display:none;
}
.career{
	width:100%;
	height:100%;
	position:relative;
	background:url(../images/joinus-bg.jpg)no-repeat;
	background-size:cover;
	direction:ltr;
}
.career-sc{
	position:absolute;
	top: 100px;
    width:100%;
	height:80%;
	direction:ltr;
}
.career-info{
	direction:rtl;
	width:50%;
}
.img-career{
	display:inline-block;
	width: 10px;
    height:70px;
	position:absolute;
	top: 80px;
	display:none;
}
.career-info h5{
	width:80%;
	height: 70px;
    margin-right: 20px;
	color:#17a2b8;
	font-size:35px;
	position:relative;
}
.p-career{
    color: #434345;
    display:block;
	width:400px;
    height:108px;
    margin-right:30px;
    font-size:18px;
    margin-bottom:50px;
	display:none;
}
.titel-career{
	width:100%;
	height:100%;
	position:absolute;
	background-color:#17a2b8;
}
.a-career{
	display:block;
	background-color:#3cb4e5;
	color:#fff;
	width: 220px;
    height: 50px;
    text-align: center;
	padding-top:10px;
    font-size:18px;
    border-radius: 20px;
    margin-right: 30px;
	display:block;
}
.a-career i{
	margin-right:15px;
	font-size:23px;
}
.a-career:hover{
	text-decoration:none;
	color:#fff;
}
.sc-back-home{
	height:300px;
	width:100%;
	border-right:1px solid rgba(0,0,0,0.3);
}
.sc-row-home{
	height:300px;
}
footer{
	width:100%;
	height:100%;
	position:relative;
	background-color: #434444;
	background-image:url(../images/impl2.png);
	background-size:cover;
}
.contant-footer{
	position:absolute;
	direction:rtl;
	top:0;
	width:100%;
	height:100%;
}
.right-cont{
	width:100%;
	height:100%;
	padding:40px;
}
.right-cont i{
	font-size:40px;
	color:#fff;
	display:inline-block;
	cursor:pointer;
	
}
.right-cont span{
	display:inline-block;
	margin-right:40px;
	margin-top:40px;
	width:200px;
	height:150px;
}
.right-cont span img{
	display:inline-block;
	width:100px;
	height:80px;
	margin-bottom:10px;
}
.right-cont span p{
	color:#fff;
	font-size:16px;
}
.left-cont{
    width:800px;
	height:100%;
}
.left-cont span{
	float:right;
	height:100%;
	width:250px;
    margin-top: 20px;
	font-size:14px;
}
.left-cont span h4{
	font-size:16px;
	width:110px;
	color:#fff;
	margin-bottom:20px;
	border-bottom:2px solid #fff;
	display:inline;
	
}
.left-cont span a{
	color:#fff;
	line-height:28px;
}
.left-cont span a:hover{
	text-decoration:none;
	
}
.left-cont  ul{
    margin-top:20px;
}
.sc-na{
	width:100%;
	height:70px;
	position:fixed;
	top:0;
	background-color:red;
}
.bg-dark{
	height:70px;
	background-color:#fff!important;
}
.navbar-brand img{
	width:60px;
	height:60px;
}
.nav-button {
	border:none!important;
	background-color:#3cb4e5;
	color:#fff;
    border-radius:.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.nav-button i{
	color:#fff;
	font-size:23px;
}
.main-menu{
	width: 100%;
	height: 100%; 
	opacity: 0; 
	visibility: hidden;
}
.nav-open .main-menu {
	opacity: 1;
	visibility: visible;
	background:#fff; 
}
.main-menu .nav li a{
	color:#231f20 ; 
	font-size:50px; 
	font-weight:600; 
}
.main-menu .nav li{
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -moz-animation-timing-function: cubic-bezier(.45,.005,0,1);
    -o-animation-timing-function: cubic-bezier(.45,.005,0,1);
    animation-timing-function: cubic-bezier(.45,.005,0,1);
}
.nav-open .main-menu .nav li{
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
}
.main-menu .nav li.delay-1{
	-webkit-transition-delay:0.1s;
	-moz-transition-delay:0.1s;
	-ms-transition-delay:0.1s;
	-o-transition-delay:0.1s;
	transition-delay:0.1s; 
}
.main-menu .nav li.delay-2{
	-webkit-transition-delay:0.2s;
	-moz-transition-delay:0.2s; 
	-ms-transition-delay:0.2s; 
	-o-transition-delay:0.2s; 
	transition-delay:0.2s; 
}
.main-menu .nav li.delay-3{
	-webkit-transition-delay:0.3s;
	-moz-transition-delay:0.3s; 
	-ms-transition-delay:0.3s; 
	-o-transition-delay:0.3s; 
	transition-delay:0.3s; 
}
.main-menu .nav li.delay-4{
	-webkit-transition-delay:0.4s;
	-moz-transition-delay:0.4s;
	-ms-transition-delay:0.4s; 
	-o-transition-delay:0.4s; 
	transition-delay:0.4s; 
}
.main-menu .nav li.delay-5{
	-webkit-transition-delay:0.5s; 
	-moz-transition-delay:0.5s;
	-ms-transition-delay:0.5s;
	-o-transition-delay:0.5s; 
	transition-delay:0.5s; 
}
.main-menu .nav li.delay-6{
	-webkit-transition-delay:0.6s; 
	-moz-transition-delay:0.6s;
	-ms-transition-delay:0.6s; 
	-o-transition-delay:0.6s; 
	transition-delay:0.6s;	
}
.main-menu .nav li.delay-7{
	-webkit-transition-delay:0.7s;
	-moz-transition-delay:0.7s; 
	-ms-transition-delay:0.7s;
	-o-transition-delay:0.7s; 
	transition-delay:0.7s; 
}
.main-menu .nav li.delay-8{
	-webkit-transition-delay:0.8s;
	-moz-transition-delay:0.8s; 
	-ms-transition-delay:0.8s; 
	-o-transition-delay:0.8s;
	transition-delay:0.8s; 
}
.main-menu .nav li.delay-9{
	-webkit-transition-delay:0.9s;
	-moz-transition-delay:0.9s; 
	-ms-transition-delay:0.9s; 
	-o-transition-delay:0.9s; 
	transition-delay:0.9s; 
}

.nav-button{
	position:relative;
	z-index:1111; 
	border:solid 1px #f8f8f8;
	height:42px; 
	display:block;
	width:50px; 
	padding:12px; 
}
.nav-button #nav-icon3{
	width:24px;
	height:22px;
	display:inline-block;
	position:relative;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	transition:.5s ease-in-out;
	cursor:pointer;
}
.nav-button #nav-icon3 span{
	display:block;
	position:absolute;
	height:3px;
	width:100%;
	background:#FFFFFF;
	border-radius:9px;
	opacity:1;
	left:0;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	transform:rotate(0deg);
	-webkit-transition:.25s ease-in-out;
	-moz-transition:.25s ease-in-out;
	-o-transition:.25s ease-in-out;
	transition:.25s ease-in-out
}
.nav-button #nav-icon3 span:nth-child(1){
	top:0
}
.nav-button #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){
	top:7px
}
.nav-button #nav-icon3 span:nth-child(4){
	top:14px
}
.nav-open #nav-icon3 span:nth-child(1){
	top:9px;
	width:0;
	left:50%
}
.nav-open #nav-icon3 span:nth-child(2){
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg)
}
.nav-open #nav-icon3 span:nth-child(3){
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg)
}
.nav-open #nav-icon3 span:nth-child(4){
	top:9px;
	width:0;
	left:50%
}
.flex-center{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	height:100%
}
.popup{
	width:100%;
	height:100%;
   background-color:rgba(0,0,0,0.5);
	position:fixed;
	top:0;
	left:0px;
	z-index:1111;
	display:none;
}
.con-popup{
	width:700px;
	height:400px;
	opacity:1;
	position:fixed;
	left:30%;
	top:30%;
	z-index:22222;
	padding:0px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, 
.col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, 
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1,
 .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
 .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2,
 .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, 
 .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, 
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	padding:0px;
}











